#dir-gray{
    color: #636363;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;;
    padding: 20px;
}
#dir-orange{
    color: #FF8000;
}
.form-container{
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 30px;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    gap: 10px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
#search_id{
    display: flex;
    gap: 40px;
    align-items: center;
}
.success{
    font-size: 18px;
    font-weight: 400;
    color: #FF8000;
}
.error{
    font-size: 18px;
    font-weight: 400;
    color: #ff0000;
}
#search_id input{
    background-color: #DDDFEE;

    padding: 9.6px;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    align-items: left;
    color: black;
    width: 200px;
}
.OrangeButton{
    background-color: #FF8000;
    padding: 9.6px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
}
#info_table {
    border-collapse: collapse;
    width: 100%; 
}
#info_table th {
    padding: 9.6px;
    margin: 0; 
    text-align: left;
    color: #FF8000;
}
#info_table td{
    padding: 9.6px;
    margin: 0; 
    text-align: left;
}
#info_table tr{
    border-bottom: 1px solid #e2e2e2;
}
#info_table_head{
    background-color: #f1f1f1;
}


#info_table2 {
    border-collapse: collapse;
    width: 100%; 
}
#info_table2 th {
    padding: 9.6px;
    margin: 0; 
    text-align: left;
    color: #FF8000;
}
#info_table2 td{
    margin: 0; 
    text-align: left;
}
#info_table2 tr{
    border-bottom: 1px solid #e2e2e2;
}
#info_table2_head{
    background-color: #f1f1f1;
}
.smallarea{
    width: 20%;
}
#info_table2 input{
    height: 35px;
    width: 100%;
}
#requestScheduleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 9.6px;
}
.hidden{
    display: none !important;
}
.questions{
    padding: 40px;
}
.questions div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
.twocolumn{
    display: flex;
    flex-direction: column;
}
.twocolumn input,.twocolumn textarea, #id_dateEnrolled, .twocolumn select{
    resize: none;
    background-color: #DDDFEE;
    padding: 9.6px;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    align-items: left;
    color: black;
    width: auto;
}
.yes_no{
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.yes_no label{
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 0;
    gap: 5px;
    flex-direction: row;
}
#requestScheduleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 9.6px;
}
#requestScheduleContainer input, select{
    background-color: #DDDFEE;
    padding: 9.6px;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    align-items: left;
    color: black;
    max-width: 250px;
}
