{% extends 'main.html' %}

{% load static %}

{% block title %}Counseling App With Scheduler{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/counseling_app.css'%}">
    
    <form class="form-container" method="POST" action="">
        <div class="input-container">
            <h3>Fill out the information for the student.</h3>
            <div></div>
            <label>Full Name</label>
            <label>Last Name</label>
            {{ form.firstname }}
            {{ form.lastname }}
            <label class="twocolumns">Reason of counseling</label>
            {{ form.reason }}
            <label>Attending Teacher</label>
            <label>Schedule Date and Time</label>
            {{ form.counselor_teacher }}
            {{ form.scheduled_datetime }}
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
